

html{
    scroll-behavior: smooth;
}
    
html::-webkit-scrollbar {
width: 1vw;

}
html::-webkit-scrollbar-thumb {
background-color: #141624;
border: 0;
border-radius: 20px;
}
/* html::-webkit-scrollbar-thumb:hover {
background-color: #777;
} */
html::-webkit-scrollbar-track {
background-color: #23263a;
}
/* html::-webkit-scrollbar-track:hover {
background-color: #555;
} */
body {
background-color: #23263a;
color: #CCC;
}


.icons img{
    transition: all 0.5s ease ;
    /* animation: roll 1s forwards; */
}
.icons img:hover{
        transform: rotateY(180deg) scale(1.2) ;        
}

/* @keyframes roll{
    100%{
        transform: translate(560px);
    }
    
} */

#port:hover{
    transform: translateZ(20px) ;
}


.card :hover{
    transform: scale(1.1) ;
}
