* {
  margin: 0px;
  padding: 0px;
}

body {
  color: whitesmoke;
  background-color: #23263a;
}

.container-fluid {
  overflow: hidden;
}

/* navabar */

.navbar {
  display: flex;
  background-color: #1f2235;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-evenly;
}

/* .name{
            
            margin-right: 500px;
               
        } */
.name p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.navbar-contents {
  margin-right: 120px;
}

@media screen and (max-width: 480px) {
  .name {
    margin-right: 0px;
  }
  .name p {
    font-size: 15px;
  }
  .navbar-contents {
    margin-right: 0;
  }
  .navbar-contents li {
    font-size: 10px;
  }
}

.home ul {
  list-style-type: none;
}
ul li {
  float: left;
}
li a {
  color: white;
  padding: 14px 40px;
  text-decoration: none;
}

/* me */
.me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.content {
  width: 600px;
  float: left;
  text-align: left;
  margin-left: 20px;
}

.icons {
  margin: 40px 0;
}

.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  border: 2px #ff4a57;
  border-style: solid;
  box-shadow: 0px 7px 5px #000000;
  margin: 10px;
}
.icons i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  border: 2px #ff4a57;
  border-style: solid;
  box-shadow: 0px 7px 5px #000000;
  margin: 10px;
}

h1 {
  font-size: 72px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

h5 {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 207, 207);
  margin-top: 15px;
  letter-spacing: 1.5px;
}

button {
  text-align: center;
  width: fit-content;
  border: 2px;
  border-radius: 25px;
  margin: 50px auto;
  padding: 10px 30px;
  color: aliceblue;
  border-style: solid;
  border-color: #ff4a57;
  background-color: #23263a;
  box-shadow: 0px 5px 10px #000000;
}
button:hover {
  box-shadow: 0px 10px 10px #000000;
}

.circle {
  background-color: #ff4a57;
  border-radius: 56% 44% 77% 23% / 43% 50% 50% 57%;
  width: 500px;
  height: 500px;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.image {
  width: 370px;

  z-index: 2;
}

/* skills */
.skills {
  background-color: #1f2235;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
h3 {
  color: #ff4a57;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin: 30px;
}

.myskills {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  margin: auto;
  font-size: 30px;
  width: 700px;
}
@media screen and (max-width: 720px) {
  .myskills {
    width: 100%;
  }
}
p {
  font-size: 15px;
  margin: 20px;
  color: rgb(212, 207, 207);
  font-family: "Josefin Sans", sans-serif;
}

.cards {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  background-color: #23263a;
  height: 200px;
  width: 200px;
  margin: 5px 60px;
  border-radius: 27px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5 ease;
}
.card .card-icon {
  margin: 15px;
}
.card .card-icon img {
  width: 90px;
}
.card .card-title {
  margin: 15px;
  font-size: 20px;
  color: #ff4a57;
}
.card-body {
  color: rgb(212, 207, 207);
  font-size: 17px;
}

/*  projects  */
h2 {
  width: fit-content;
  color: #ff4a57;
  font-family: "Josefin Sans", sans-serif;
  margin: 30px auto;
}

.projects {
  background-color: #23263a;
  display: flex;
  flex-direction: column;
}
.projects .description h3 {
  margin: 5px 20px;
  color: rgb(212, 207, 207);
  font-family: "Josefin Sans", sans-serif;
}

.projects p {
  margin: 0 20px;
}
.project {
  display: flex;
  justify-content: center;
  margin: 50px;
}
#project2 {
  flex-direction: row-reverse;
}
.project img {
  width: 300px;
  border: 5px solid #1f2235;
  border-radius: 20px;
  box-shadow: 0px 10px 5px #1f2235;
}

.tech {
  margin: 20px;
}
.tech img {
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

/* about */
.about {
  text-align: center;
  font: 12px verdana;
}

@media screen and (max-width: 1200px) {
  .about {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .cards {
    width: 80%;
  }
}

@media screen and (min-width: 1500px) {
  .cards {
    width: 80%;
  }
}
.about hr {
  width: 40px;
  margin: auto;
}

.my-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-data .my-pic {
  color: #000000;
  border-bottom: 0px solid black;
}

.my-data .my-pic img {
  height: 300px;
  margin-bottom: 100px;
}

.hi-there {
  text-align: left;
  padding: 20px;
  width: 50%;
}
.hi-there h3 {
  margin: 5px 20px;
  color: aliceblue;
  font-size: 24px;
}

.details {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.details .fa {
  float: left;
  margin-right: 5px;
}
.ic {
  display: flex;
  align-items: center;
}
.ic img {
  width: 20px;
}
a {
  text-decoration: none;
}
.detail-title {
  width: 50%;
  margin-bottom: 30px;
}
h4 {
  font-size: 12px;
  color: #ff4a57;
  font-family: "Josefin Sans", sans-serif;
}
.detail-title p {
  margin: 0;
  color: rgb(212, 207, 207);
}
